@model FileForUploadDto

<style>
    body {
        background-color: #f2f7fb
    }

    .mt-100 {
        margin-top: 100px
    }

    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
        box-shadow: 0 0 5px 0 rgba(43, 43, 43, .1), 0 11px 6px -7px rgba(43, 43, 43, .1);
        border: none;
        margin-bottom: 30px;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
    }

        .card .card-header {
            background-color: transparent;
            border-bottom: none;
            padding: 20px;
            position: relative
        }

            .card .card-header h5:after {
                content: "";
                background-color: #d2d2d2;
                width: 101px;
                height: 1px;
                position: absolute;
                bottom: 6px;
                left: 20px
            }

        .card .card-block {
            padding: 1.25rem
        }

    .dropzone.dz-clickable {
        cursor: pointer
    }

    .dropzone {
        min-height: 150px;
        border: 1px solid rgba(42, 42, 42, 0.05);
        background: rgba(204, 204, 204, 0.15);
        padding: 20px;
        border-radius: 5px;
        -webkit-box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1);
        box-shadow: inset 0 0 5px 0 rgba(43, 43, 43, 0.1)
    }

    .m-t-20 {
        margin-top: 20px
    }
</style>

<div class="row d-flex justify-content-center mt-100">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>Dosya Yükleme</h5>
            </div>
            <div class="card-block">
                <form enctype="multipart/form-data" asp-action="Upload" method="post">
                    <div class="form-group">
                        <input asp-for="FileName" class="form-control py-4 mb-2" placeholder="Dosya İsmi">
                        <input asp-for="FileDescription" class="form-control py-4" placeholder="Kısa açıklama giriniz">
                        <div class="custom-control custom-checkbox"><input asp-for="IsPrivate" class="custom-control-input" id="rememberPasswordCheck" type="checkbox" /><label asp-for="IsPrivate" class="custom-control-label" for="rememberPasswordCheck">Özel</label></div>
                        <input asp-for="File" type="file" class="form-control-file  p-4 mt-2 btn btn-primary" id="exampleFormControlFile1">
                    </div>
                    <div class="text-center m-t-20">
                        <button type="submit" class="btn btn-primary">Şimdi Yükle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>